
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Employee Table</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Salary
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Ercan GÜNBİLEK
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        İzmir
                                    </td>
                                    <td>
                                        546 535 14 75
                                    </td>
                                    <td>
                                        Carrier
                                    </td>
                                    <td class="text-primary">
                                        $36,738
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Atakan ÇETİN
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        Bursa
                                    </td>
                                    <td>
                                        505 405 38 39
                                    </td>
                                    <td>
                                        Chef
                                    </td>
                                    <td class="text-primary">
                                        $23,789
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Nesibe Zeynep AYAZ
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        Kocaeli
                                    </td>
                                    <td>
                                        536 373 99 23
                                    </td>
                                    <td>
                                        Warehouse Staff
                                    </td>
                                    <td class="text-primary">
                                        $56,142
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        Batuhan KADIOĞLU
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        Uşak
                                    </td>
                                    <td>
                                        534 093 99 22
                                    </td>
                                    <td>
                                        Manager
                                    </td>
                                    <td class="text-primary">
                                        $38,735
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        Alp Furkan ÜRKMEZ
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        Aydın
                                    </td>
                                    <td>
                                        505 566 05 53
                                    </td>
                                    <td>
                                        Carrier
                                    </td>
                                    <td class="text-primary">
                                        $63,542
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


