
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Package Table</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Address
                            </th>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Ramazan BULUT
                                    </td>
                                    <td>
                                        546 535 14 75
                                    </td>

                                    <td>
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a data-toggle="collapse" href="#collapse1">ATATÜRK MAH. Cumhuriyet Caddesi Kuzey Apartmanı No:18 Daire:81</a>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse">
                                                    <ul class="list-group">
                                                        <div id="map"></div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Hasan KORKMAZ
                                    </td>
                                    <td>
                                        536 213 44 75
                                    </td>

                                    <td>
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a data-toggle="collapse" href="#collapse2">HAZAL MAH. Cihan Sokak Polat Apartmanı No:2 Daire:1</a>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse">
                                                    <ul class="list-group">
                                                        <div id="map"></div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Masal YILDIZ
                                    </td>
                                    <td>
                                        532 686 42 15
                                    </td>
                                    <td>
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a data-toggle="collapse" href="#collapse3">GÜNEYSU MAH. Bedirhan Sokak Sağlık Apartmanı No:22 Daire:6</a>
                                                </div>
                                                <div id="collapse3" class="panel-collapse collapse">
                                                    <ul class="list-group">
                                                        <div id="map"></div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

