
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Meal Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">

                                <th width : 10%>
                                    ID
                                </th>
                                <th width : 20%>
                                    Name
                                </th>
                                <th width : 30%>
                                    Recipe List
                                </th>
                                <th width : 20%>
                                    Chef
                                </th>
                                <th width : 10%>
                                    Status
                                </th>
                                <th width : 10%>
                                    Meal Type
                                </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Chef's Choice
                                        </td>
                                        <td>
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" href="#collapse1">Click for details</a>

                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">Baklava</li>
                                                            <li class="list-group-item">Pizza</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            Atakan ÇETİN
                                        </td>
                                        <td>
                                            Active
                                        </td>
                                        <td>
                                            Low Calorie
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Low Calorie
                                        </td>
                                        <td>
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" href="#collapse2">Click for details</a>

                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">Coconut </li>
                                                            <li class="list-group-item">Poached </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            Atakan ÇETİN
                                        </td>
                                        <td>
                                            Active
                                        </td>

                                        <td>
                                            Chef's Choice
                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit Meal</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <select class="form-control" id="sel1">
                                            <option>Add</option>
                                            <option>Edit</option>
                                            <option>Delete</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Search Meal...">
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Status</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <select class="form-control" id="sel1">
                                            <option>Chef's Choice</option>
                                            <option>Vegetarian</option>
                                            <option>Low Calorie</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label class="bmd-label-floating">Chef</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Search Recipe...">
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-primary">
                                            <h4 class="card-title ">Recipe List</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class=" text-primary">
                                                    <th width=5%>
                                                        Select
                                                    </th>
                                                    <th width=5%>
                                                        ID
                                                    </th>
                                                    <th width=10%>
                                                        Name
                                                    </th>
                                                    <th width=10%>
                                                        Description
                                                    </th>
                                                    <th width=20%>
                                                        Ingredient
                                                    </th>
                                                    <th width=30%>
                                                        Instruction
                                                    </th>
                                                    <th width=10%>
                                                        Meal Type
                                                    </th>
                                                    <th width=10%>
                                                        Chef
                                                    </th>

                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="container">

                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox"></label>
                                                                    </div>

                                                                </div>
                                                            </td>

                                                            <td>
                                                                1
                                                            </td>
                                                            <td>Poached Salmon</td>
                                                            <td>Poached salmon with tarragon</td>
                                                            <td>
                                                                <div class="panel-group">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <a data-toggle="collapse" href="#collapse3">200g half-fat crème fraîche small pack tarragon</a>

                                                                        </div>
                                                                        <div id="collapse3" class="panel-collapse collapse">
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item">1 lemon </li>
                                                                                <li class="list-group-item"> 1 garlic clove, crushed to a paste</li>
                                                                                <li class="list-group-item"> 400g green beans, trimmed and halved</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="panel-group">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <a data-toggle="collapse" href="#collapse4">Heat the oil in a large, heavy-based frying</a>

                                                                        </div>
                                                                        <div id="collapse4" class="panel-collapse collapse">
                                                                            <ul class="list-group">
                                                                                Heat the oil in a large, heavy-based frying pan. Cook the lamb and shallots over a high heat for 2-3 mins until golden. Add the courgettes and stir-fry for 3-4 mins until beginning to soften.
                                                                                Add the spices and toss well, then add the peppers and garlic. Reduce the heat and cook over a moderate heat for 4-5 mins until they start to soften.
                                                                                Pour in the stock and stir to coat. Add the tomatoes, season, then cover with a lid and simmer for 15 mins, stirring occasionally until the veg are tender. Stir through the coriander to serve.
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>Low Calorie</td>
                                                            <td>Atakan ÇETİN</td>

                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="container">

                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox"></label>
                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td>2</td>
                                                            <td>Mediterranean vegetables </td>
                                                            <td>With lamb</td>
                                                            <td>
                                                                <div class="panel-group">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <a data-toggle="collapse" href="#collapse5">Mediterranean vegetables with lamb</a>

                                                                        </div>
                                                                        <div id="collapse5" class="panel-collapse collapse">
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item">1 tbsp olive oil</li>
                                                                                <li class="list-group-item"> 250g lean lamb</li>
                                                                                <li class="list-group-item">fillet, trimmed of any fat and thinly sliced</li>
                                                                                <li class="list-group-item">140g shallot halved</li>
                                                                                <li class="list-group-item">2 large courgettes cut into chunks</li>
                                                                                <li class="list-group-item">½ tsp each ground cumin, paprika and ground coriander</li>
                                                                                <li class="list-group-item">1 red, 1 orange and 1 green pepper, cut into chunks</li>
                                                                                <li class="list-group-item">1 garlic clove, sliced</li>
                                                                                <li class="list-group-item">150ml vegetable stock</li>
                                                                                <li class="list-group-item">250g cherry tomatoes</li>
                                                                                <li class="list-group-item">handful coriander leaves, roughly chopped</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="panel-group">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <a data-toggle="collapse" href="#collapse6">Zest the lemon and cut into wedges</a>

                                                                        </div>
                                                                        <div id="collapse6" class="panel-collapse collapse">
                                                                            <ul class="list-group">
                                                                                Mix together the crème fraîche, tarragon, garlic, lemon zest and a squeeze of juice, season to taste and set aside.
                                                                                Bring a large shallow pan of salted water to the bowl and cook the green beans for 3 mins until just done. Remove with a slotted spoon, drain and cool under cold running water before tossing with the crème fraîche mixture.
                                                                                Bring the pan back to the boil, then turn the heat down to a very gentle simmer and slide in the salmon pieces. Poach for 8-10 mins or until cooked to your liking. Remove from the pan and put on kitchen paper before plating up. Serve with the green beans and baby new potatoes.
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>Low Calorie</td>
                                                            <td>Atakan ÇETİN</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Save Meal</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


