
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">User Table</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Meal Type
                            </th>
                            <th>
                                E-mail
                            </th>
                            <th>
                                Password
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Ramazan BULUT
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        Adana
                                    </td>
                                    <td>
                                        ATATÜRK MAH. Cumhuriyet Caddesi Kuzey Apartmanı No:18 Daire:81
                                    </td>
                                    <td>
                                        546 535 14 75
                                    </td>

                                    <td>
                                        Vegetarian
                                    </td>
                                    <td>
                                        ramazanbulut@gmail.com
                                    </td>
                                    <td>
                                        *********
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Hasan KORKMAZ
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        İstanbul
                                    </td>
                                    <td>
                                        HAZAL MAH. Cihan Sokak Polat Apartmanı No:2 Daire:1
                                    </td>
                                    <td>
                                        536 213 44 75
                                    </td>

                                    <td>
                                        Chef’s Choice
                                    </td>
                                    <td>
                                        korkmazhasan@gmail.com
                                    </td>
                                    <td>
                                        *******
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Masal YILDIZ
                                    </td>
                                    <td>
                                        Turkey
                                    </td>
                                    <td>
                                        İzmir
                                    </td>
                                    <td>
                                        GÜNEYSU MAH. Bedirhan Sokak Sağlık Apartmanı No:22 Daire:6
                                    </td>
                                    <td>
                                        532 686 42 15
                                    </td>

                                    <td>
                                        Low-calorie
                                    </td>
                                    <td>
                                        masalyıldız@protonmail.com
                                    </td>
                                    <td>
                                        ***********
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

